<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>
    Welcome to the Buff Beavers management system!
</h1>
	<ul>
		<li><a class="active" href="/">Home</a></li>
		<li><a href="/gyms">Gyms</a></li>
		<li><a href="/users">Users</a></li>
		<li><a href="/trainers">Trainers</a></li>
		<li><a href="/workout_entries">Workout Entries</a></li>
		<li><a href="/class_descriptions">Class Descriptions</a></li>
		<li><a href="/class_schedules">Class Schedules</a></li>
	</ul>
</html>