<!-- 
Citation for the following code:
Date: 06/05/2022
Adapted from people.j2 from:
https:github.com/osu-340-ecampus/flask-start-app/blob/master/bsg_people_app/templates/people.j2 
-->

<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<ul>
		<li><a class="active" href="/">Home</a></li>
		<li><a href="/gyms">Gyms</a></li>
		<li><a href="/users">Users</a></li>
		<li><a href="/trainers">Trainers</a></li>
		<li><a href="/workout_entries">Workout Entries</a></li>
		<li><a href="/class_descriptions">Class Descriptions</a></li>
		<li><a href="/class_schedules">Class Schedules</a></li>
	</ul>	
	<div>

		<p><strong> Enter a User ID to access all their information </strong></p>
		<form method="POST">
			<input type="text" placeholder="Search user" name="userID">
			<input type="submit" name="search" value="Search">
		</form>

		<h1 class="main-table">Users</h1> 
		<table border="1" cellpadding="5" class="main-table">
            {% if data %}
			    <thead>
				    <tr>
                        <th>User ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gym ID</th>
						<th>Email</th>
						<th>Birthday</th>
						<th>Trainer ID</th>
						<th>Edit</th>
						<th>Delete</th>
                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
                            {% for key in item.keys() %}
						    <td> {{item[key]}} </td> 
                            {% endfor %}
							
						    <td><a href="edit_users/{{item.userID}}">Edit</a></td>
						    <td><a href="delete_users/{{item.userID}}">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   

	<p>&nbsp;</p>
	</div>

	<div>
		<form id="insertPerson" action="/users" method="POST">
			<legend><strong>Add a New User</strong></legend>
			<fieldset>
				<label for="firstname">First Name:</label>
				<input type="text"id="firstName" name="firstName" required>

				<label for="lastname">Last Name:</label>
				<input type="text" id="lastName" name="lastName" required>

                <label for="gymID">Gym ID:</label>
                    <select id="gymID" name="gymID" placeholder="" required>
                        {% for gym in gyms %}
                            {% if gym["gymID"] == data[0].gymID %}
                                <option value="{{ gym['gymID'] }}" selected> {{gym['location']}} </option>
                            {% else %}
                                <option value="{{ gym['gymID'] }}"> {{gym['location']}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                <label for="email">Email:</label>
				<input type="text" id="email" name="email" required>

                <label for="birthday">Birthday:</label>
				<input type="date" id="birthday" name="birthday" required>

                <label for="trainerID">Trainer ID:</label>
                    <select id="trainerID" name="trainerID" placeholder="" required>
                        {% for trainer in trainers %}
                            {% if trainer["trainerID"] == data[0].trainerID %}
                                <option value="{{ trainer['trainerID'] }}" selected> {{trainer['firstName']}} {{trainer['lastName']}} </option>
                            {% else %}
                                <option value="{{ trainer['trainerID'] }}"> {{trainer["firstName"]}} {{trainer['lastName']}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </fieldset>

			<input type="submit" value="Add User" name="Add_User" style="margin:.5rem;">
        </form>
	</div>

</body>
</html>